.navbar {
    font-size: 15px;
    font-family: Verdana;
    text-align: center;
    background: rgb(235, 106, 26);
  }
  
ul.navbar a {
    color : rgb(240, 231, 232);
    margin-left:auto;
    display: inline-block;
    padding: 70px;
  }
  
ul.navbar a:hover {     
    background: orange;
  }
  
ul.navbar a:active {
    color: white;
    background: rgb(227, 155, 103);
  }

img{
  align-items: center;
  margin-top: 5px;
  max-width: 100%;
  height: auto;
}

.contenedor {
      position: relative;
  }

.elemento {
  opacity: 0.5;
}

.logo{
  padding:0px;
  align-items: left;
  max-width: 9%;
  height:auto;
}