.navbar {
    font-size: 15px;
    font-family: Verdana;
    text-align: center;
    background: rgb(235, 106, 26);
  }
  
  ul.navbar a {

    text-size-adjust: 25px;
    color : rgb(240, 231, 232);
    text-align : top;
    display: inline-block;
    padding: 40px;
  }
  
  ul.navbar a:hover {     
    background: orange;
  }
  
  ul.navbar a:active {
    color: white;
    background: rgb(227, 155, 103);
  }