body{
  font-family: Verdana;
    background-color: #007bff;
    color : orange;
    margin:20px;
}

.formulario{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.password-container{

  position: relative;
  display: flex;

  align-items: center;
  padding: 10px;
    width: 50px;
  height: 50px;
}

img
{
  margin-top: 3px;
  align-items: center;
  width: 30px;
  height: 30px;
}

.password
{
  margin-right: 0px;
  padding :0px;
}

.toggle-btn{
  position: absolute;
            right: 10px;
            border: none;
            background: none;
            cursor: pointer;
   border:none;
  background-color:#007bff;;
  width: 50px;
  height: 50px;
}

form{
  border: 8px groove rgb(43, 0, 173);
  border-radius: 10px;
  font-size: 20px;
  padding: 50px 25px 50px 25px;
}

h1{
  margin-left:auto;
  color: rgb(228, 131, 52);
  font-size: 50px;
  font-family: Verdana;
}