h1{
    text-align: center;
}

h2{
    margin-bottom: 70px;
}


button
{
    margin-left:auto;
    margin-right: 100px;
    padding : 10px 10px 15px;

    border-style: inset ; 
    border-radius: 10px;
    border-color: rgb(17, 7, 216); 
    border-width: 5px;
    
}

p{
    font-size:large;
    font-weight:bold;
    text-align:justify;
}
.aSeparator {
    
    color: black;
    border-top:1px solid #5f656d;
    height:1px;
    margin:16px 0;
}

.inoo
{
    align-items: center;
    max-width: 20%;
    height: auto;
}